table {
  width: 100%;
  border-collapse: collapse;
}

tr, td{
    text-align: center;
}

th, td{
    border: 1px solid #ccc;
    padding: 5px 0;
}

.delete-button {
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-button:hover {
  background-color: #f55;
}

.edit-button {
  background-color: #00f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #55f;
}

.add-button {
  background-color: #0f0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  height: 40px;
  width: 100px;
}

.add-button:hover {
  background-color: #5f5;
}

